* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.navbar{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar_list li{
  margin-right: 10px;
}

.form-block,
.login-block,
.block{
  margin-top: 20px;
  text-align: center;
}

.block{
  margin-bottom: 20px;
}

.form-list,
.login-form,
.post-form{
  display: inline-grid;
}

.form-list input{
  margin-bottom: 5px;
}

.login-form input{
  margin-bottom: 5px;
}

.form-list input:last-child{
  margin-bottom: 0;
}

.login-form input:last-child{
  margin-bottom: 0;
}

.logout{
  text-align: right;
  margin-right: 10px;
}

.logout-btn{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.logout-btn:hover{
  transform: scale(1.1);
  animation: linear;
}

h1,h2{
  margin-bottom: 20px;
  text-align: center;
}

h2{
  cursor: pointer;
}

#textarea{
  width: 300px;
  height: 100px;
  border: 1px solid purple;
  background-color: thistle;
  resize: none;
  overflow: auto;
  overflow-x: hidden;
}

#textarea::-webkit-scrollbar-track {
  background-color: #e2e2e2;
}

#textarea::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

#textarea::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #545454;
}

#submit-btn{
  margin: 10px auto 0 auto;
  width: 100px;
  height: 30px;
  border-radius: 30px;
  background-color: thistle;
  border: 1px solid purple;
  cursor: pointer;
}

#submit-btn:hover{
  transform: scale(0.98);
  animation: linear;
}

.list-block{
  width: 440px;
  margin: 0 auto;
}

.posts li{
  margin-bottom: 5px;
}

.posts li:last-child{
  margin-bottom: 0;
}

.feed{
  margin-bottom: 5px;
}

.feed li{
  margin-bottom: 5px;
}

.feed li:last-child{
  margin-bottom: 0;
}

.list-item{
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
}

button,input[type="submit"],input[type="button"] {
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

label{
  padding-right: 5px;
}

label::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url(../img/like.svg);
  cursor: pointer;
}

input[type="checkbox"]:checked + label::before {
  content: '';
  background-image: url(../img/heart.svg);
  cursor: pointer;
}

.common-span{
  display: flex;
  justify-content: space-between;
}

.edit-btn{
  width: 30px;
  height: 20px;
}

.span-post{
  word-wrap: break-word;
  margin: 0 5px 5px 0;
}

.edit-input{
  width: 250px;
  margin-right: 5px;
}

.opt-block{
  margin: 0 auto 10px auto;
  width: 400px;
  display: flex;
  justify-content: space-between;
}

select{
  width: 200px;
}

.pages{
  display: flex;
}

.pages li{
  margin-right: 5px;
}

.pages li:last-child{
  margin-right: 0;
}

.pages-elem{
  width: 20px;
  height: 20px;
}

.page-active{
  width: 20px;
  height: 20px;
  background: purple;
}

.link-to-list{
  font-size: 10px;
}

.users-block{
  width: 500px;
  margin: 10px auto 0 auto;
}

.users-list li{
  margin-bottom: 5px;
}

.users-list li:last-child{
  margin-bottom: 0;
}